{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Register
    </div>
    <div class="card-body">
        <form method="POST" onsubmit="return validatePasswords()">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div id="error-message" class="text-danger mb-3" style="display: none;">
                Passwords do not match!
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}
